#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

li {
  list-style: none
}

h1 {
  color: white;
}

body {
  background-color: #ffffff;
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position-x: right;
}

textarea {
  resize: none;
}

.Card {
  backdrop-filter: blur(2px);
  background-color: rgb(248, 248, 248);
  border: 1px solid rgba(165, 165, 165, 0.497);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  margin-bottom: 25px;
  width: 60vw;
  text-align: left;
  padding-left: 30px;
  justify-content: left;
  overflow: clip;
}

.name {
  display: inline
}

.moreButton {
  width: 15px;
  right: 8px;
  position: absolute
}

input[type=submit]{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #FE5F55;
  color:white;
  cursor: pointer;
  transition: border-color 0.25s;
}

input[type=submit]:hover{
    border-color: #646cff;
}

.deleteButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color:red;
  cursor: pointer;
  transition: border-color 0.25s;
}

.sidebar {
  background-color: #777DA7;
  z-index: 99;
  height: 100vh;
  width: 150px;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  padding: 1.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: #2c3e50;
}

.header-button {
  margin: 6px;
  background-color: #f7f7f7;
}


.spyglass {
  display: inline;
  position: absolute;
  right: 30px;
  top: 75px;
}

.Read {
  margin-top: 100px;
  justify-self: center;
  display: inline-block

}

.edit-button {
  display: sticky;
  position: absolute;
  right: 9px;
  border: solid black 1px
}

.detail-update {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fcfcfc;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 5%
}

.detail-upvotes-button {
  background-color: rgba(223, 222, 222, 0);
  margin-bottom: 6px;
  color: black;
}

.detail-image {
  overflow:auto
}

.detail-option-buttons{
  display:inline-table;
  float: right;
  position: relative;
  top: -20px;
}

.detail-page {
  justify-items: left;
  justify-content: left;
  border: 1px solid;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(243, 243, 243);
  width: 60vw;
  text-align: left;
  margin-top: 60px;
}

.comment-box{
  justify-items: left;
  justify-content: left;
  float: left;
  border: 1px solid;
  margin-top: 10px;
  padding: 30px;
  border-radius: 8px;
  background-color: rgb(243, 243, 243);
  width: 50vw;
  text-align: left;
  display: inline-table;
}

.submit-comment{
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fcfcfc;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
  margin-bottom: -10px;
}

.detail-header{
  margin-top: -3%
}

.detail-delete {
  border-radius: 8px;
  border: 1px solid black;
  margin-left: 12px;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color:red;
  cursor: pointer;
  transition: border-color 0.25s;
}

.detail-description {
  width: 800px;
}

.header-bar{
  background-color: #FE5F55;
  height: 100px;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: -25px;
  left: 0px;
  justify-items: left;
  color: white;
  margin-bottom: 30px;
  margin-top: 0px;
  display: flex;
}

.logo {
  padding-top: 1px;
  padding-left: 10px;
  margin-left: 20px;
  color: #CE7B91;
  position: relative;
  top: -10px;
}

.new-header{
  justify-self: left;
}

.new-post {
  justify-items: left;
  justify-content: left;
  border: 1px solid;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  width: 60vw;
}

.sidebar-home {
  margin-top: 80px;
  width: 196px;
  border: solid 1px black
}

.sidebar-about {
  margin-top: 10px;
  width: 196px;
  border: solid 1px black
}

.sidebar-new {
  margin-top: 10px;
  width: 196px;
  border: solid 1px black
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  .about-paragraph {
    justify-self: center;
    width: 70%;
  }
  
  .photo-icon{
    display: inline;
    padding-left: 10px;
  }
  
  .update-current-info{
  justify-items: left;
  justify-content: left;
  border: 1px solid;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(243, 243, 243);
  width: 60vw;
  text-align: left;
}

.update-page{
  margin-top: 70px;
}

.update-form{
  justify-items: left;
  justify-content: left;
  text-align: left;
}